/*=============== GOOGLE FONTS ===============*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*=============== VARIABLES CSS ===============*/
@media screen and (max-width: 600px) {}
:root {
  --header-height: 3.5rem;

  /*========== Colors ==========*/
  --hue: 162;
  --first-color: hsl(var(--hue), 100%, 40%);
  --first-color-alt: hsl(var(--hue), 56%, 35%);
  --title-color: hsl(228, 8%, 95%);
  --text-color: hsl(228, 8%, 65%);
  --body-color: hsl(229, 16%, 20%);
  --container-color: hsl(229, 14%, 15%);

  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: "Poppins", sans-serif;
  --biggest-font-size: 2rem;
  --bigger-font-size: 1.25rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;
  --smaller-font-size: .75rem;

  /*========== Font weight ==========*/
  --font-regular: 400;
  --font-medium: 500;
  --font-semi-bold: 600;
}

/*========== Responsive typography ==========*/
@media screen and (min-width: 1152px) {
  :root {
    --biggest-font-size: 4rem;
    --bigger-font-size: 2rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
    --smaller-font-size: .813rem;
  }
}

/*=============== BASE ===============*/

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--body-color);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}


/*=============== REUSABLE CSS CLASSES ===============*/

.main {
  overflow: hidden; /* For animation ScrollReveal */
}

.section {
  width: 100%;
  height: 100vh;
}

.Home_section {
  width: 100%;
  height: 230vh;
}

.Team_section {
  width: 100%;
  height: 200vh;
}

.contact {
  width: 100%;
  height: 100vh;
}

.sub_section {
  width: 100%;
  height: 80vh;
}

/*=============== Header ===============*/
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* position: fixed; */
}

.logo-title {
  display: flex;
  align-items: center;
  right: 500px;
  color: #fff;
  cursor: pointer;
}

.logo {
  width: 50px;
  height: 50px;
  margin-right: 10px;
  margin-left: 50px;
  border-radius: 50%;
}

.navigation {
  background-color: #ab9393;
  padding: 10px 20px;
  border-radius: 20px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  flex-grow: 1;
  text-align: center;
  position: fixed;
  width: 40%;
  height: 4%;
  right: 380px;
}

.navigation ul {
  list-style-type: none;
  padding: 5px;
  margin: 0;
}

.navigation ul li {
  display: inline;
  margin-right: 20px;
}

.navigation ul li:last-child {
  margin-right: 0;
}

.navigation ul li a {
  text-decoration: none;
  color: #000;
  font-size: 1.1em;
  font-weight: 600;
}

.navigation ul li a:hover , .logo-title:hover
{
  color: #601cfc;
}

/*=============== Home ===============*/
.Home {
  padding: 10rem 5rem;
  text-align: center;
  background-color: hsl(229, 16%, 20%);
}

.Home h2 {
  font-size: 3rem;
  margin-bottom: 50px;
  color: #ffffff; 
}

.Home p {
  font-size: 1.6rem;
  color: #ffffff;
  text-align: left; 
  margin-right: 50rem; 
  margin-bottom: -19rem; 
}

.Home img {
  max-width: 600px;
  max-height: 600px;
  border-radius: 20px;
  display: block;
  margin: auto -30px 10rem auto; 
}

.Team_video{
  padding: 160px 100px;
}

.Team_video video{
  width: 100%;
  height: 100%;
  border-radius: 20px;
  display: block;
  margin: 0 auto 2rem;
  object-fit: contain;
}

/*=============== Team Process (About) ===============*/
.Team_Process_wrapper {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Team_Process_container {
    height: 400px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: start;
}

.Team_Process_card {
    width: 80px;
    border-radius: .75rem;
    background-size: cover;
    cursor: pointer;
    overflow: hidden;
    border-radius: 2rem;
    margin: 0 10px;
    display: flex;
    align-items: flex-end;
    transition: .6s cubic-bezier(.28,-0.03,0,.99);
    box-shadow: 0px 10px 30px -5px rgba(0,0,0,0.8);
}

.Team_Process_card > .row {
    color: white;
    display: flex;
    flex-wrap: nowrap;
}

.Team_Process_card > .row > .Team_Process_icon {
    background: #223;
    color: white;
    border-radius: 50%;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px;
}

.Team_Process_card > .row > .Team_Process_description {
    display: flex;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
    height: 80px;
    width: 520px;
    opacity: 0;
    transform: translateY(30px);
    transition-delay: .3s;
    transition: all .3s ease;
}

.Team_Process_description h4 {
  color: #929292;
}

.Team_Process_wrapper input {
    display: none;
}

.Team_Process_wrapper input:checked + label {
    width: 600px;
}

.Team_Process_wrapper input:checked + label .Team_Process_description {
    opacity: 1 !important;
    transform: translateY(0) !important;
}

.Team_Process_card[for="c1"] {
    background-image: url('../Asstes/img/UX-UI.jpg');
}
.Team_Process_card[for="c2"] {
    background-image: url('../Asstes/img/Software Engineering.jpg');
}
.Team_Process_card[for="c3"] {
    background-image: url('../Asstes/img/Frontend.jpg');
}
.Team_Process_card[for="c4"] {
    background-image: url('../Asstes/img/Backend.jpg');
}
.Team_Process_card[for="c5"] {
  background-image: url('../Asstes/img/Database.jpg');
}


/*=============== UX-UI ===============*/
.team_process_section
{
  padding: 10rem 5rem;
  text-align: center;
  background-color: hsl(229, 16%, 20%);
}

.UX_UI p {
  font-size: 1.6rem;
  color: #ffffff;
  text-align: left; 
  margin-right: 50rem; 
  margin-bottom: -19rem; 
}

.UX_UI img {
  max-width: 600px;
  max-height: 600px;
  border-radius: 20px;
  display: block;
  margin: auto 20px 10rem auto; 
}

/*=============== Software Engineering ===============*/
.Software_Engineering p {
  font-size: 1.6rem;
  color: #ffffff;
  text-align: right; 
  margin-left: 50rem; 
  margin-bottom: -20rem; 
}

.Software_Engineering img {
  max-width: 600px;
  max-height: 600px;
  border-radius: 20px;
  display: block;
  margin: auto auto 10rem 20px;
}

/*=============== Frontend ===============*/
.Frontend p {
  font-size: 1.6rem;
  color: #ffffff;
  text-align: left; 
  margin-right: 50rem; 
  margin-bottom: -19rem; 
}

.Frontend img {
  max-width: 600px;
  max-height: 600px;
  border-radius: 20px;
  display: block;
  margin: auto 20px 10rem auto; 
}

/*=============== Backend ===============*/
.Backend p {
  font-size: 1.6rem;
  color: #ffffff;
  text-align: right; 
  margin-left: 50rem; 
  margin-bottom: -20rem; 
}

.Backend img {
  max-width: 600px;
  max-height: 600px;
  border-radius: 20px;
  display: block;
  margin: auto auto 10rem 20px;
}
/*=============== Database ===============*/
.Databse p {
  font-size: 1.6rem;
  color: #ffffff;
  text-align: left; 
  margin-right: 50rem; 
  margin-bottom: -19rem; 
}

.Databse img {
  max-width: 600px;
  max-height: 600px;
  border-radius: 20px;
  display: block;
  margin: auto 20px 10rem auto; 
}

/*==================Projects======================*/
.projectcontents {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  margin: auto 0px 15rem auto; 
}

.Projects {
  background-color: #fff;
  width: 300px;
  height: 300px;
  box-shadow: 0 5px 30px rgba(1 1 1 / 15%);
  border-radius: 25px;
  padding: 40px;
  margin: 0 auto 2rem;
  transition: 0.7s ease;
}

#services .projecttitle {
  text-align: center; 
  font-weight: bold; 
  font-size: 3em; 
}


.Projects:hover {
  transform: scale(1.1);
}

.Projects .projecticon {
  color: #3a6cf4;
  font-size: 8em;
  text-align: center;
}

.projectinfo {
  text-align: center;
}

.projectinfo h3{
  color: #3a6cf4;
  font-size: 1.4em;
  font-weight: 400;
  margin: 15px;
}

.more-details {
  display: block; 
  text-align: right;
  font-size: small;
  font-weight: bold; 
  margin-top: 10px;
  margin-bottom: -30px;
}

/*=============== Team Members ===============*/
.square
{
  position: relative;
  top: -80px;
  width: 400px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0 40px;
  margin-bottom: 300px;
}

.square span
{
  position: absolute;
  inset: 0;
  border: 2px solid #333;
  opacity: 0.5;
}

.square span:nth-child(1){
  border-radius: 46% 54% 61% 39% / 40% 40% 60% 60%;
  animation: animateteam 6s linear infinite;
}

.square span:nth-child(2){
  border-radius: 68% 32% 61% 39% / 49% 52% 48% 51%;
  animation: animateteam 4s linear infinite;
}

.square span:nth-child(3){
  border-radius: 56% 44% 36% 64% / 51% 68% 32% 49%;
  animation: animateteam2 10s linear infinite;
}

@keyframes animateteam {
  0%
  {
    transform: rotate(0deg);
  }
  100%
  {
    transform: rotate(360deg);
  }
}

@keyframes animateteam2 {
  0%
  {
    transform: rotate(360deg);
  }
  100%
  {
    transform: rotate(0deg);
  }
}

.bottom {
  position: absolute;
  width: 100%;
  bottom: 0;
  padding: 80px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; 
}

.icon {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  gap: 40px;
  flex-wrap: wrap; 
  border-radius: 50%; 
  
}

.icon .imgBx {
  position: relative;
  width: 30px; 
  height: 200px; 
  border-radius: 70%; 
  overflow: hidden;
  transition: 0.5s;
  box-shadow: 0 0 0 4px #fff;
  opacity: 0.5;
  margin: 10px 4px; 
  flex: 0 0 calc(20% - 10px); 
  margin-bottom: -20px;
  box-shadow: 0 0 0 4px #66a3ff, 0 0 0 10px #fff;
  background-color: #fff; 
  margin: 1px; 
  transform: scale(0.6); 
  display: inline-block; 
  margin-bottom: -90px;
}

.icon .imgBx .active {
  opacity: 1;
  scale: 1.2;
  margin: 0 10px;
  box-shadow: 0 0 0 4px #fff,
  0 0 0 10px #66a3ff;
  
}


.icon .imgBx img {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%; 
  
}

.contentBx
{
  position: absolute;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
  transform: scale(0);
  opacity: 0;
  grid-template-columns: repeat(5, 1fr); 
  grid-gap: 10px; 

}

.contentBx.active
{
  transform: scale(1);
  opacity: 1;
  transition-delay: 0.5s;
}

.contentBx .team_card
{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  gap: 15px;
}

.contentBx .team_card .imgBx
{
  position: relative;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
}

.contentBx .team_card .imgBx img
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  
}
.contentBx .team_card  .textBx
{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.contentBx .team_card  .textBx h3
{
  position: relative;
  font-size: 1.27em;
  font-weight: 600;
  color: #333 ;
  line-height: 1em;
  text-transform: uppercase;
}

.contentBx .team_card  .textBx h3 b
{
  font-size: 0.80em;
  color: #333;
  font-weight: 500;
  letter-spacing: 0.1em;
}

.contentBx .team_card .sci
{
  position: relative;
  display: flex;
  gap: 7px;
  margin-top: 10px;
}

.contentBx .team_card .sci li
{
  list-style: none;
}

.contentBx .team_card .sci li a
{
  position: relative;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #333;
  color: #fff;
  text-decoration: none;
  border-radius: 50%;
  transition: 0.5s;
}

.contentBx .team_card .sci li a:hover
{
  background: #66a3ff;
  transform: translateY(-.30rem);
}


/*===================Timer=======================*/


#time
{
  display: flex;
  gap: 30px;
  justify-content: center;
  margin-top: 0px; 
  margin-bottom: 100px;
  
}
#time .circle
{
  position: relative;
  width: 150px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#time .circle svg circle {
  width: 100%;
  height: 100%;
  fill: transparent;
  stroke-width: 8;
  stroke: #282828;
  transform: translate(5px,5px);
}

#time .circle svg text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#time .circle svg circle:nth-child(2) {
  stroke: var(--clr);
  stroke-dasharray: 440;
}

#time div {
  position: absolute;
  text-align: center;
  font-weight: 500;
  color: #fff;
  font-size: 1.5em;
}

#time div span {
  position: absolute;
  transform: translateX(-50%) translateY(-10px);
  font-size: 0.35em;
  font-weight: 300;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

#time .dots {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  z-index: 1000;
}

#time .dots::before
{
  content: '';
  position: absolute;
  top: -3px;
  left: 0;
  width: 15px;
  height: 15px;
  background: var(--clr);
  border-radius: 50%;
  box-shadow: 0 0 20px var(--clr),
  0 0 60px var(--clr);
  
}

/*=============== Contact US ===============*/
.contact_content {
  justify-content: center;
  margin-left: 50rem;
  margin-bottom: -50rem;
}

.contact_img img {
  width: 600px;
  height: 600px;
  margin: auto auto 10rem auto;
}

.contact__container input,
.contact__container textarea,
.contact__container button{
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}

.contact__container input,
.contact__container textarea,
.contact__container button {
  outline: none;
  border: none;
}

.container {
  max-width: 1120px;
  margin-inline: 1.5rem;
}

.grid {
  display: grid;
  gap: 1.5rem;
}

.section {
  padding-block: 5rem 2rem;
}

.section__title, 
.section__subtitle {
  text-align: center;
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
}

.section__title {
  font-size: var(--h1-font-size);
  margin-bottom: 1.5rem;
}

.section__subtitle {
  font-size: var(--small-font-size);
  margin-bottom: .25rem;
}

.section__subtitle span {
  color: var(--first-color);
}

.contact__container {
  padding-top: 1rem;
}

.contact__form,
.contact__group {
  display: grid;
  row-gap: 1rem;
}

.contact__form {
  position: relative;
}

.contact__input {
  padding: 1rem 1.25rem;
  border-radius: .5rem;
  background-color: var(--container-color);
  color: var(--title-color);
}

.contact__input::placeholder {
  color: var(--text-color);
}

.contact__form textarea {
  height: 11rem;
  resize: none;
  margin-bottom: 2rem;
}

.contact__button {
  justify-self: center;
  cursor: pointer;
}

.contact__message {
  position: absolute;
  left: 0;
  bottom: 4.5rem;
  font-size: var(--small-font-size);
  color: var(--title-color);
}

/*=============== BUTTON ===============*/
.button {
  display: inline-block;
  background-color: var(--first-color);
  padding: 1rem 1.75rem;
  border-radius: .5rem;
  color: var(--title-color);
  font-weight: var(--font-medium);
  transition: box-shadow .4s;
}

.button:hover {
  box-shadow: 0 8px 24px hsla(var(--hue), 100%, 40%, .25);
}

/*=============== Footer ===============*/
.footer {
  position: relative;
  background-color: #010101;
  bottom: 0;
  width: 100%;
  height: 40vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-title {
  font-size: 1.5em; 
  font-weight: 900;
}

.footer-title span {
  color: #3a6cf4;
}

.footer-title span:hover {
  color: #ffff;
}

.social-iconss {
  display: flex;
  justify-content: center;
}

.social-iconss a {
  color: #3a6cf4;
  font-size: 2em;
  margin-right: 20px;
  text-decoration: none;
}

.social-iconss a:hover {
  color: #601cfc;
}

/*=============== Scroll BAR ===============*/
::-webkit-scrollbar {
  width: .6rem;
  border-radius: .5rem;
  background-color: hsl(228, 12%, 25%);
}

::-webkit-scrollbar-thumb {
  background-color: hsl(228, 8%, 35%);
  border-radius: .5rem;
}

::-webkit-scrollbar-thumb:hover {
  background-color: hsl(228, 8%, 45%);
}

/*=============== BREAKPOINTS ===============*/
/* For small devices */
/* @media screen and (max-width: 320px) {
  .container {
    margin-inline: 1rem;
  }
  
} */

/* For medium devices */
/* @media screen and (min-width: 576px){
  .contact__container{
    grid-template-columns: 360px;
    justify-content: center;
  }
} */

/* For large devices */
@media screen and (min-width: 1023px){
  .section {
    padding-block: 7rem 2rem;
  }

  .section__subtitle {
    font-size: var(--normal-font-size);
  }
}

@media screen and (min-width: 1152px) {
  .container {
    margin-inline: auto;
  }
  .contact__container {
    grid-template-columns: 680px;
    padding-block: 2.5rem 2rem;
  }
  .contact__form {
    row-gap: 1.5rem;
  }
  .contact__group {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1.5rem;
  }
  .contact__input {
    padding: 1.5rem;
  }
  .contact__form textarea {
    height: 20rem;
  }

  .footer {
    padding-block: 4.5rem 4rem;
  }
  .footer__container {
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    text-align: initial;
  }
  .footer__title {
    font-size: var(--bigger-font-size);
  }
  .footer__social {
    column-gap: 1.5rem;
  }
} 